.note-container {
  height: 100%;
}

.note-container h2 {
  margin-bottom: 20px;
}

.note-container_notes {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
}
h2{
color:rgb(0, 0, 0);
font-size: 50px;
}
h3{
  color:rgb(0, 0, 0);
font-size: 25px;


}
