.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 253, 253);
}
.sidebar img {
  margin-top: 10px;
  margin-bottom: -10px;
  margin-left: 4px;
  width: 60px;
  cursor: pointer;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 0;
  transition: 300ms;
}

.sidebar_list_active {
  height: 95%; 
  margin-top: 30px;
  border-radius: 5%;
}

.sidebar_list_item {
  border-radius: 50%;
  height: 27px;
  width: 27px;
  list-style: none;
}
